@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;

}

#cabecalho{
    background-color: midnightblue;
    border-radius: 0px;
    color: whitesmoke;
    text-align: center;
    height: 80px;

}
a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 15px;
    
}
